body {
    background: #eee;
    font-family: helvetica;
}

h1 {
    font-size: 80px;
    font-weight: 100;
    display: block;
    text-align: right;
    margin: 50px 0 0;
}

p {
    text-align: right;
    float: right;
    margin: 0;
    line-height: 22px;
}

#stage {
    width: 1110px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.platforms {
    position: absolute;
    bottom: 0;
}

.platform {
    color: rgb(192, 192, 192);
    font-weight: 100;
    font-variant: small-caps;
    width: 300px;
    height: 70px;
    font-size: 70px;
    text-align: center;
    line-height: 60px;
    background: #222;
    display: inline-block;
    margin-right: 100px;
}

.platform:last-child {
    margin-right: 0;
}

.disc {
    width: 300px;
    height: 40px;
    position: absolute;
    opacity: 0;
    left: 0;
    bottom: 0;
    transition: all .4s ease;
}

.innerDisc {
    height: inherit;
    margin: 0 auto;
    border-radius: 16px;
    transition: all .4s ease;
}

